<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="../static/css/dashboard_admin.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="logo">
                <img src="../static/images/logowarna.png" alt="Aerosite">
            </div>
            <div class="dropdown">
                <select>
                    <option value="admin123">Admin123</option>
                    <option value="logout" class="logout">Logout</option>
                </select>
            </div>
        </div>
    </header>

    <div class="dashboard-title">
        <h2>Dashboard Analisis</h2>
        <svg width="39" height="24" viewBox="0 0 39 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.3125 9.6H31.6875V14.4H7.3125V9.6ZM0 0H39V4.8H0V0ZM14.625 19.2H24.375V24H14.625V19.2Z" fill="white"/>
            </svg>
            
    </div>
    <div class="stats">
        <div class="stat-box">
            <p>Total Pengguna isi survey</p>
            <h1>10</h1>
        </div>
        <div class="stat-box">
            <p>Total Satisfied</p>
            <h1>8</h1>
        </div>
        <div class="stat-box">
            <p>Total Dissatisfied</p>
            <h1>2</h1>
        </div>
        <div class="stat-box">
            <p>Average Rating</p>
            <h1>4</h1>
        </div>
        <div class="stat-box">
            <p>Satisfaction Rate</p>
            <h1>4</h1>
        </div>
    </div>
    <div class="analysis-boxes">
        <div class="analysis">Analisis A</div>
        <div class="analysis">Analisis B</div>
        <div class="analysis">Analisis C</div>
        <div class="analysis">Analisis D</div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-inner">
                <div class="footer-logo">
                    <img src="../static/images/logo.png" alt="Aerosite">
                </div>
                <div class="footer-logo-kemdikbud">
                    <img src="../static/images/kemdikbud.png" alt="Aerosite">
                </div>
                <div class="footer-logo-bisaai">
                    <img src="../static/images/bisaai.png" alt="Aerosite">
                </div>
                <div class="footer-logo-msib">
                    <img src="../static/images/msib.png" alt="Aerosite">
                </div>
                <div class="footer-logo-kampusmerdeka">
                    <img src="../static/images/kampusmerdeka.png" alt="Aerosite">
                </div>
                <!-- Contact -->
                <div class="quick-links">
                    <h2 class="link-title">Contact Person:</h2>
                    <div class="footer-contact">
                        <div class="footer-contact-item">
                            <span class="material-symbols-outlined">support_agent</span>
                            <span>+62 666 666 666</span> <!-- Nomor Telepon -->
                        </div>
                        <div class="footer-contact-item">
                            <span class="material-symbols-outlined">mail</span>
                            <span>info@admin.com</span> <!-- Alamat Email -->
                        </div>
                    </div>
                    <div class="footer-copyright">
                        <p>&copy; 2024 PT Aero Dirgantara. All Rights Reserved.</p> <!-- Hak Cipta -->
                    </div>
                </div>
            </div>
    </footer>
</body>
</html>
<!-- Footer -->

        